# Copyright 2021 IOTA Stiftung
# SPDX-License-Identifier: Apache-2.0

menu "IOTA SDK Config"

config IOTA_NODE_URL
	string "IOTA Node URL"
	default "https://chrysalis-nodes.iota.org/"

config IOTA_NODE_PORT
	int "The prot number to connect"
	range 0 65535
	default 443

config IOTA_HTTP_RECV_BUFF_SIZE
	int "HTTP Client receive buffer size"
	default 1024

module = IOTA_HTTP_CLIENT
module-str = IOTA HTTP Client
module-help = Enables logging for http client.
source "subsys/logging/Kconfig.template.log_config"

if WIFI

config APP_WIFI_AUTO
	bool "Setup WiFi"

config APP_WIFI_SSID
	string "WiFi SSID"
	depends on APP_WIFI_AUTO
	default "my_ssid"

config APP_WIFI_PWD
	string "WiFi Password(PSK)"
	depends on APP_WIFI_AUTO
	default "my_pwd"

if APP_WIFI_AUTO
module = APP_WIFI_CONN
module-str = WIFI Connection
module-help = Enables logging for WiFi connection.
source "subsys/logging/Kconfig.template.log_config"
endif # APP_WIFI_AUTO

endif # WIFI

config WALLET_SEED
	string "Wallet SEED"
	default "RANDOM"
	help
	IOTA Seed is a string of 64 characters. Use "RANDOM" generating a random seed for the wallet.

config WALLET_ADDR_PATH
	string "Address derivation path"
	default "m/44'/4218'/0'/0'"
	help
	IOTA BIP44 path "m/44'/4218'/account/change"

module = IOTA_APP
module-str = Application
module-help = Enables logging for IOTA Client application.
source "subsys/logging/Kconfig.template.log_config"
endmenu

source "Kconfig.zephyr"